*{
margin: 0;
padding: 0;
}

body{
    background-image: url("image/images.jpg");
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Labrada', serif;
}

h1{
    color:#83e9e9;
    text-align: center;
}

.wrapper{
    position: absolute;
    width: 80%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.144);
    margin: 0 auto;
}

section{
    width: 80%;
 margin: 0 auto;
 display: flex;
 border: 3px solid white;
}

text{
 width: 66%;
 color: rgb(87, 65, 65);
 display: flex;
}

section img{
    width: 33%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.image img{
    width: 100%;
}

.red{
    color: red;
}

.sky{
    width: 500px;
    height: 500px;
    margin-left: 650px;
}

.piza{
    position: absolute;
    right: 10;
    top: 10;
    width: 300px;
    height: 300px;
}


.header{
background-color: rgb(188, 152, 223);
width: 100%;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}

.header ul{
    display: flex;
    align-items: center;
  justify-content: space-around;
width: 100%;
list-style-type: none;
}

.header a{
color: rgb(255, 255, 255);
text-decoration: none;
font-size: 20px;
text-transform: uppercase;
transform: .6s;
}

.header a:hover{
    color: rgb(85, 85, 85);
    background-color: rgb(200, 127, 127);
    padding: 10px 20px;
    border-radius: 10px;
}

